
<button type="button" class="btn btn-link tooltip-right" data-toggle="tooltip"
            data-original-title="{{eConstantTooltip}}"
            data-placement="right"
            ng-if="v.selectedDurationSet == 'E Constant'">
    <span class="glyphicon glyphicon-info-sign" aria-hidden="true" ></span>
</button>

<button type="button" class="btn btn-link tooltip-right" data-toggle="tooltip"
                 data-original-title="{{fibonacciTooltip}}"
                 data-placement="right"
                 ng-if="v.selectedDurationSet == 'Fibonacci'">
    <span class="glyphicon glyphicon-info-sign" aria-hidden="true" ></span>
</button>

<button type="button" class="btn btn-link tooltip-right" data-toggle="tooltip"
        data-original-title="{{integerTooltip}}"
        data-placement="right"
        ng-if="v.selectedDurationSet == 'Integers'">
    <span class="glyphicon glyphicon-info-sign" aria-hidden="true" ></span>
</button>

<button type="button" class="btn btn-link tooltip-right" data-toggle="tooltip"
        data-original-title="{{pascalTooltip}}"
        data-placement="right"
        ng-if="v.selectedDurationSet == 'Pascal'">
    <span class="glyphicon glyphicon-info-sign" aria-hidden="true" ></span>
</button>

<button type="button" class="btn btn-link tooltip-right" data-toggle="tooltip"
        data-original-title="{{phiTooltip}}"
        data-placement="right"
        ng-if="v.selectedDurationSet == 'Phi'">
    <span class="glyphicon glyphicon-info-sign" aria-hidden="true" ></span>
</button>

<button type="button" class="btn btn-link tooltip-right" data-toggle="tooltip"
        data-original-title="{{piTooltip}}"
        data-placement="right"
        ng-if="v.selectedDurationSet == 'Pi'">
    <span class="glyphicon glyphicon-info-sign" aria-hidden="true" ></span>
</button>

<button type="button" class="btn btn-link tooltip-right" data-toggle="tooltip"
        data-original-title="{{powerTooltip}}"
        data-placement="right"
        ng-if="v.selectedDurationSet == 'Powers'">
    <span class="glyphicon glyphicon-info-sign" aria-hidden="true" ></span>
</button>

<button type="button" class="btn btn-link tooltip-right" data-toggle="tooltip"
        data-original-title="{{dnaTooltip}}"
        data-placement="right"
        ng-if="v.selectedDurationSet == 'DNA'">
    <span class="glyphicon glyphicon-info-sign" aria-hidden="true" ></span>
</button>

<button type="button" class="btn btn-link tooltip-right" data-toggle="tooltip"
        data-original-title="{{rnaTooltip}}"
        data-placement="right"
        ng-if="v.selectedDurationSet == 'RNA'">
    <span class="glyphicon glyphicon-info-sign" aria-hidden="true" ></span>
</button>

<button type="button" class="btn btn-link tooltip-right" data-toggle="tooltip"
                 data-original-title="{{proteinTooltip}}"
                 data-placement="right"
                 ng-if="v.selectedDurationSet == 'Protein'">
    <span class="glyphicon glyphicon-info-sign" aria-hidden="true" ></span>
</button>

<button type="button" class="btn btn-link tooltip-right" data-toggle="tooltip"
        data-original-title="{{sineTooltip}}"
        data-placement="right"
        ng-if="v.selectedDurationSet == 'Sine'">
    <span class="glyphicon glyphicon-info-sign" aria-hidden="true" ></span>
</button>