
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div class="jumbotron">
    <div class="welcome">

        <h2>Welcome!</h2>
        <h5>CREATE YOUR OWN MUSIC FROM DATA</h5>
        <p>Algorithms and Interactive Tools for Exploring Music Composition, Analysis, and Interdisciplinary Learning.
            <br>
            <br>
            This Web site has interactive tools that provide a unique learning experience for users, regardless of their musical training. Students of music composition can explore algorithmic composition, while others can create musical representations of models for the purpose of aural interpretation and analysis.
            Here, the algorithmic process is used in a creative context so that users can convert sequences of numbers into musical sounds.
            <br><br>
        </p>



        <blockquote>
            <small>
                Project Director:
                <br>Jonathan N.Middleton, DMA
                <br>Department of Music
                <br>Professor of Theory and Composition
                <br>Interim Department Chair
                <br>Eastern Washington University
                <br>musicalgorithms.ewu.edu
            </small>
        </blockquote>



    </div>

   <!-- <p><a class="btn btn-primary btn-lg" href="#howto" role="button">Get Started</a></p> -->
</div> <!-- End jumbotron -->
<div class="panel-footer">
    Team: Vu Nguyen, Travis Landers, Kyle Darland
</div> <!-- End footer -->
</body>
