
<head>
    <meta charset="UTF-8">
    <title>How To</title>
</head>
<body>
<div class="jumbotron">
    <div class="howto">
        <h2>How to</h2>
        <h4>There are 6 basic steps to create music from your data!</h4>
        <ul id="howtolist">
            <li>
                <h4 style="text-decoration: underline;">Help for all pages</h4>
                <ul>
                    <li>
                        Data, or other sonification source, must be in the form of a comma seperated sequence of numbers. If you already have your own source set you can load it via the "Load" button in the upper right-hand corner or simply paste the source sequence into the text box.
                    </li>
                    <br>
                    <li>
                        Alternatively, you can use any of the pre-generated sources from the drop down menu.
                        <br><br>
                        <small>For more information on each option, hover over the blue info button (<img src="./img/info.png" alt="">) next to the box after you have selected your choice.
                        </small>
                    </li>

                </ul>
            </li>
            <h4 style="text-decoration: underline;">Steps</h4>
            <li>
                <h4>1) Pitch Input</h4>
                <ul>
                    <li>This is where you enter your starting data, what you want to turn into music.</li><br>
                </ul>
            </li>
            <li>
                <h4>2) Pitch Mapping</h4>
                <ul>
                    <li>
                        This is where your data values are modified to be read as a musical note; the range of 1-88 represents the 88 keys on a piano with a value of 0 representing silence (no pitch).
                    </li>
                    <br>
                </ul>
            </li>
            <li>
                <h4>3) Duration Input</h4>
                <ul>
                    <li>This is where each number of your data set is given a number representing a length of time to play. A higher number plays the respective note for a longer amount of time.
                    </li>
                    <br>
                </ul>
            </li>
            <li>
                <h4>4) Duration Mapping</h4>
                <ul>
                    <li>
                        This is where the duration values get mapped a range of durations, each being associated with the pitch from Pitch Mapping.
                    </li>
                    <br>
                </ul>
            </li>
            <li>
                <h4>5) Scale Options</h4>
                <ul>
                    <li>
                        This is where the Pitch Mapping output is adjusted to fit a designated musical scale.
                    </li>
                    <br>
                </ul>
            </li>
            <li>
                <h4>6) Play!</h4>
                <ul>
                    <li>Here you can change tempo, instrument playing your data and save your creation as a MIDI file.
                    </li><br>
                    <li>Head over to the "Play" tab and enjoy your creation!</li>
                </ul>
            </li>
        </ul>


    </div>
</div><!-- end jumbotron -->

</body>
