<button type="button" class="btn btn-link tooltip-right" data-toggle="tooltip"
        data-original-title="{{divisionTooltip}}"
        data-placement="right"
        ng-if="v.pitchAlgorithm == 'Division' ">
    <span class="glyphicon glyphicon-info-sign" aria-hidden="true" ></span>
</button>

<button type="button" class="btn btn-link tooltip-right" data-toggle="tooltip"
        data-original-title="{{logarithmicTooltip}}"
        data-placement="right"
        ng-if="v.pitchAlgorithm == 'Logarithmic' ">
    <span class="glyphicon glyphicon-info-sign" aria-hidden="true" ></span>
</button>

<button type="button" class="btn btn-link tooltip-right" data-toggle="tooltip"
        data-original-title="{{moduloTooltip}}"
        data-placement="right"
        ng-if="v.pitchAlgorithm == 'Modulo' ">
    <span class="glyphicon glyphicon-info-sign" aria-hidden="true" ></span>
</button>